@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.containers {
  width: 520px;
  margin: 30px 0 0 30px;
  position: absolute;
  top: 0;
  left: 0;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap");

:root {
  font-family: "Noto Sans", sans-serif;
  --del: 0s;
  --dist: 3em;
  --angl: 315deg;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 5em;
  background: #1f2020;
  color: #ccf2ff;
  font-size: 1.2rem;
}

h1 {
  font-weight: 100;
  text-align: center;
}

.lin {
  display: flex;
  gap: 1em;
  background-image: linear-gradient(#0000 49%, #ff8c66 48%, #ff6633 52%, #0000 0);
  position: relative;
  align-items: center;
}

.pt {
  background-color: #3cf;
  width: 2em;
  height: 0.2em;
  border-radius: 100vmax;
  animation: mov 2s linear var(--del) infinite alternate;
  translate: 0 calc(-1 * var(--dist));
}

@keyframes mov {
  from {
    translate: 0 calc(-1 * var(--dist));
  }

  to {
    translate: 0 calc(1 * var(--dist));
  }
}

.cos.y .pt {
  animation: none;
  translate: 0 calc(cos(var(--angl)) * var(--dist));
}

/*.sin.y .pt {
  animation: none;
  translate: 0 calc(sin(var(--angl)) * var(--dist));
}

@keyframes movcos {
  from {
    translate: 0 calc(-1 * var(--dist));
  }
  to {
    translate: 0 calc(1 * var(--dist));
  }
}
/*
 .cos .pt:nth-of-type(1){
   --del: calc(cos(var(--angl)) * 1s);
 }
 .sin .pt:nth-of-type(1){
   --del: calc(sin(var(--angl)) * 1s);
 }
 */
.pt:nth-of-type(1) {
  --del: calc(var(--func) * 1s);
}

.y .pt:nth-of-type(1) {
  --angl: 1 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(2){
   --del: calc(cos(var(--angl)) * 2s);
 }
 .sin .pt:nth-of-type(2){
   --del: calc(sin(var(--angl)) * 2s);
 }
 */
.pt:nth-of-type(2) {
  --del: calc(var(--func) * 2s);
}

.y .pt:nth-of-type(2) {
  --angl: 2 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(3){
   --del: calc(cos(var(--angl)) * 3s);
 }
 .sin .pt:nth-of-type(3){
   --del: calc(sin(var(--angl)) * 3s);
 }
 */
.pt:nth-of-type(3) {
  --del: calc(var(--func) * 3s);
}

.y .pt:nth-of-type(3) {
  --angl: 3 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(4){
   --del: calc(cos(var(--angl)) * 4s);
 }
 .sin .pt:nth-of-type(4){
   --del: calc(sin(var(--angl)) * 4s);
 }
 */
.pt:nth-of-type(4) {
  --del: calc(var(--func) * 4s);
}

.y .pt:nth-of-type(4) {
  --angl: 4 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(5){
   --del: calc(cos(var(--angl)) * 5s);
 }
 .sin .pt:nth-of-type(5){
   --del: calc(sin(var(--angl)) * 5s);
 }
 */
.pt:nth-of-type(5) {
  --del: calc(var(--func) * 5s);
}

.y .pt:nth-of-type(5) {
  --angl: 5 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(6){
   --del: calc(cos(var(--angl)) * 6s);
 }
 .sin .pt:nth-of-type(6){
   --del: calc(sin(var(--angl)) * 6s);
 }
 */
.pt:nth-of-type(6) {
  --del: calc(var(--func) * 6s);
}

.y .pt:nth-of-type(6) {
  --angl: 6 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(7){
   --del: calc(cos(var(--angl)) * 7s);
 }
 .sin .pt:nth-of-type(7){
   --del: calc(sin(var(--angl)) * 7s);
 }
 */
.pt:nth-of-type(7) {
  --del: calc(var(--func) * 7s);
}

.y .pt:nth-of-type(7) {
  --angl: 7 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(8){
   --del: calc(cos(var(--angl)) * 8s);
 }
 .sin .pt:nth-of-type(8){
   --del: calc(sin(var(--angl)) * 8s);
 }
 */
.pt:nth-of-type(8) {
  --del: calc(var(--func) * 8s);
}

.y .pt:nth-of-type(8) {
  --angl: 8 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(9){
   --del: calc(cos(var(--angl)) * 9s);
 }
 .sin .pt:nth-of-type(9){
   --del: calc(sin(var(--angl)) * 9s);
 }
 */
.pt:nth-of-type(9) {
  --del: calc(var(--func) * 9s);
}

.y .pt:nth-of-type(9) {
  --angl: 9 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(10){
   --del: calc(cos(var(--angl)) * 10s);
 }
 .sin .pt:nth-of-type(10){
   --del: calc(sin(var(--angl)) * 10s);
 }
 */
.pt:nth-of-type(10) {
  --del: calc(var(--func) * 10s);
}

.y .pt:nth-of-type(10) {
  --angl: 10 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(11){
   --del: calc(cos(var(--angl)) * 11s);
 }
 .sin .pt:nth-of-type(11){
   --del: calc(sin(var(--angl)) * 11s);
 }
 */
.pt:nth-of-type(11) {
  --del: calc(var(--func) * 11s);
}

.y .pt:nth-of-type(11) {
  --angl: 11 * 360deg / 12;
}

/*
 .cos .pt:nth-of-type(12){
   --del: calc(cos(var(--angl)) * 12s);
 }
 .sin .pt:nth-of-type(12){
   --del: calc(sin(var(--angl)) * 12s);
 }
 */
.pt:nth-of-type(12) {
  --del: calc(var(--func) * 12s);
}

.y .pt:nth-of-type(12) {
  --angl: 12 * 360deg / 12;
}

*/
